.box{
    text-align: center;
    background-color: bisque;
    margin:20%;
    border-radius: 10px;
    height: 200px;
    padding-top: 40px;

}

body{
    background-color: rgb(46, 46, 46);
}

h1{
    font-size: 50px;
}

button{
    margin: 0% 20px;
    font-size: 20px;
    border-radius: 10px;
    color: white;
    background-color:blueviolet;
    cursor: pointer;
    box-shadow: 5px 5px 10px  rgb(0, 0, 0);
    transition: 0.3ms;
}

button:hover{
    background-color: rgb(229, 122, 222);
}
